*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}       
/**                                         1st Section                                         **/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    margin: 0;
    padding: 0;
    background-image: url("amazon_main.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    border: 1.5 px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    text-decoration: underline;
    cursor: pointer;
}

/* box2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;    
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;/* For horizontal */
    align-items: center;/* For vertical */
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

/**box4**/
span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}
/**box5**/
.nav-cart i{
     font-size: 32px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}   
/**                                               2nd Section                                           **/
.panel{
    background-color: #222f3d;
    color: white;
    font-size:medium;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.panel-options p{
    display: inline;
    margin-left: 15px;
}

.panel-options{
    width: 70%;
}

.panel-deals{
    font-size: 1.1rem;
    font-weight: 700;
}
/**                                     3rd Section(Hero)                           **/
.hero-section{
    background-image: url(amazon_hero.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 70px;
}
 
.hero-msg a{
    color: #007185;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/**                         4th Section(Shop Section)                           **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 242, 242);
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box-img{
    height: 350px;
    background-size: contain;
    background-size: no-repeat;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.box-content{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.box p:hover{
    color: #007185;
    text-decoration: underline;
    cursor: pointer;
}

/**                                 5th Section(footer Panel)                          **/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.cursor:hover{
    cursor: pointer;
    background-color: #3e5778;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size:medium;
    font-weight: bolder;
}

ul{
    margin-top: 30px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.05px solid rgb(97, 91, 91);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel-logo{
    background-image: url("amazon_main.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    font-size: 0.7rem;
    padding-top: 30px;
}

.copyright{
    padding-bottom: 5px;
    margin-left: 65px;
}
